.contLikes{
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 1px black;
    font-weight: 100;
    width: auto;
    height: 100%;
    position: relative;
    text-align: left;
    top: 0px;
    display: inline-block;
    column-count: 2;
    margin-top: 100px;
    margin-left: 30px;
    margin-right: 30px;

}
.divContLikes{
    width: 100vw;
    height: 100vh;
    overflow-y: auto;
}
.contTitle{
    position: relative;
    top: 75px;
    color: black;
}

.liLikes{
    margin-right: 30px;
    margin-bottom: 50px;
    width: auto;
    align-items: center;
    text-align: center;
    justify-items: center;

}
.divH3{
    position: relative;
}
.likeImg{
    border-radius: 5px;
    box-shadow: 0px 0px 10px black;
}
