.btnMenuTv{
    margin-left: 5px;
    opacity: .8;
    rotate: 90deg;
    margin-bottom: 2px;
}
.userIcon{
    margin-right: 5px;
    opacity: .8;
}

.profileBtnCont{
    display: flex;
    flex-direction: column;
    width: 190px;
    height: 150px;
    margin-left: -70px;
    font-size: 20px;
}
.profileBtnMenu{
    border: none;
    font-family: Bebas Neue;
    color: rgba(255, 255, 255, 0.781);
    transition-duration: .5s;
    z-index: 9999999;
}
.profileBtnMenu:hover{
    cursor: pointer;
    color: white;
}
.optionProfileBtn{
    background: linear-gradient(to right, rgb(255, 255, 255), transparent 99%);
    margin-top: 0.1px;
    border: none;
    font-size: 15px;
    font-family: Bebas Neue;
    color: rgb(22, 22, 22);
    transition-duration: .5s;
    width: 190px;
    height: 30px;
    transform: translateX(200px);
    scale: 0;
}
.optionProfileBtn:hover{
    cursor: pointer;
    background: linear-gradient(to right, rgb(255, 255, 255), rgba(255, 255, 255, 0.749) 99%);
}