.enterBody{
    text-align: center;
    overflow: hidden;
    height: 100vh;
    background-color: #171717;
    position: absolute;
    left: 0px;
    top: 0px;
}

.visor{
    overflow: hidden;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}
.visorCanvas{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), #000000 97%);
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0px;
    top: 0px;
}
.welcomeCont{
    width: 100vw;
    height: 300px;
    color: white;
    font-weight: 100;
    position: relative;
    top: 30%;
    text-align: center;
}
.welcomeCont h1{
    filter: drop-shadow(0px 0px 4px black);
}
.welcomeUl{
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.button1,.button2{
    height: 50px;
    width: 200px;
    position: relative;
    margin-right: 10px;
    font-family: bebas neue;
    font-size: 20px;
    border: none;
    border-radius: 2%;
}
.button1{
    background: linear-gradient(to bottom, #ffffff, rgba(0, 0, 0, 0.679));
    background-color: #ffffff;
}
.button2{
    background-color: #84848446;
    color: #ffffff;
    font-weight: 100;
}
.button1:hover{
    background: linear-gradient(to bottom, #171717, rgba(0, 0, 0, 0.679));
    background-color: #171717;
    color: #ffffff;
    transition-duration: 0.2s;
}
.button2:hover{
    background-color: #171717;
    transition-duration: 0.5s;
}
