.btn_ul{
  justify-content: center;
  align-items: center;
  text-align: center;
  list-style: none;
  display: flex;
  position: relative;
  right: 15px;
}

.form_ul{
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
  list-style: none;
  flex-direction: column;
  position: relative;
  right: 15px;
  margin-top: 25px;
  color: white;
  text-shadow: 0px 0px 4px rgb(0, 0, 0);
}

.form_li{
    margin-top: 20px;
}