.createBody{
    width: 100vw;
    height: auto;
  }

.CreateProduct {
    position: absolute;
    margin-top: 10px;
    color: #000000;
    width: 100vw;
    height: auto;
    border-radius: 20px;
    text-align: center;
    z-index: 1;
}

.formCont {
    margin-bottom: 30px;
    margin-left: -40px;
}