.CreateProduct {
        margin-top: 10px;
        background-color: white;
        color: #000000;
        width: 100vw;
        height: 100vh;
        margin: 0 auto;
        padding: 15px;
        border-radius: 3px;
        text-align: center;
    }


