.CreateProduct {
        background-color: rgba(53, 53, 53, 0.569);
        color: #ffffff;
        width: 300px;
        margin: 0 auto;
        padding: 15px;
        border-radius: 3px;
        text-align: center;
    }


