.editListCont{
    width: 100%;
    height: auto;
    min-height: 100vh;
    background: linear-gradient(to bottom, #ffffffcf, rgb(137, 137, 137));
    margin: 0px;
    overflow: hidden;
    overflow-y: auto;
    top: 0px;
    left: 0px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.editListFormat{
    margin-top: 100px
}

.divList{
    top: 200px;
    width: 90vw;
    margin-top: -50px;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ulList0{
    width: 90vw;
    height: 20px;
    display: flex;
    justify-content: space-evenly;
    text-align: left;
    align-items: center;
    background-color: rgb(1, 1, 1);
    color: rgba(255, 255, 255, 0.854);
    border-radius: 15px;
    box-shadow: 0px 0px 4px #171717;
    margin-top: 40px;
    transition-duration: .4s;
}
.ulList0>li{
    text-align: center;
    width: 20%;
}
.ulList1{
    min-width: 300px;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    position: relative;
}

.ulList1>li{
    min-width: 300px;
    width: 90%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    position: relative;
}

.ulList2{
    width: 90vw;
    height: auto;
    padding-top: 10px;
    padding-bottom: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: left;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.739);
    position: relative;
    color: rgba(255, 255, 255, 0.854);
    border-radius: 15px;
    box-shadow: 0px 0px 4px #171717;
    margin-top: -10px;
    transition-duration: .4s;
}
.ulList2>li{
    width: 20%;
    text-align: center;
}


.ulList2:hover{
    box-shadow: 0px 0px 4px rgb(255, 255, 255);
    background-color: #4d4d4d;
}

.btnEdit{
    background-color: #c3c3c3;
    background-image: url(../../../assets/images/edit-icon.png);
    background-size: cover;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 4px black;
    transition-duration: .4s;
    scale: .9;
    border-color: #c3c3c3;
    border-width: 1px
}

.btnDelete{
    background-color: #c3c3c3;
    background-image: url(../../../assets/images/delete-icon.png);
    background-size: cover;
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 4px black;
    transition-duration: .4s;
    scale: .9;
    border-color: #c3c3c3;
    border-width: 1px
}

.btnDelete:hover, .btnEdit:hover{
    scale: 1;
}