.ulListProfile{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    list-style: none;
    width: 100%;
    height: 100%;
}
.ulListProfile>li{
    margin-top: 10px;
    width: 100%;
    margin-left: -40px;
}
.userIcon{
    margin-top: -30px;
    border-radius: 100%;
    border: solid;
    border-width: 2px;
    border-color: white;
    filter: drop-shadow(0px 0px 4px black)
}
.liProfile1{
    top: 20px;
}
.liProfile2>h1{
    margin-top: -15px;
}
.liProfile3{
    margin-top: -20px;
    margin-bottom: 10px;
}
.profileFather{
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow-y: auto;
}

.profileCont{
    background: linear-gradient(to bottom, #ffffff, rgb(197, 197, 197));
    filter: drop-shadow(0px 0px 4px black);
    min-width: 300px;
    height: 200px;
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 15px;
    margin-top: 110px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style: none;
}
.buttons{
    position: relative;
    margin-top: 100px;
}
.buttons>button{
    margin-bottom: 10px;
}
.deleteAccount{
    background-color: rgba(0, 0, 0, 0.98);
    width: 70%;
    height: 400px;
    left: 15%;
    top: 100px;
    position: fixed;
    box-shadow: 0px 0px 10px red;
    display: none;
    border-radius: 15px;
    text-align: center;
    justify-content: center;
    color: white;
}

.dashControlCont {
    height: 100vh;
    overflow: hidden;
}