.sliderCont {
    top: -120px;
    width: 100vw;
    overflow: hidden;
    margin-right: 10px;
    position: relative;
}

.sliderCont h3 {
    color: #ffffff;
    left: 50px;
    top: 30px;
    position: relative;
    font-weight: 100;
    font-size: 22px;
}

.sliderContItems {
    position: relative;
    width: 100%;
    height: 170px;
    right: 10px;
    overflow: hidden;
}

.sliderPrevBtn {
    width: 50px;
    transform: translate(-65px);
    background: linear-gradient(to right, rgb(255, 255, 255), transparent);
    left: 10px;
    opacity: 0.5;
}

.sliderPostBtn {
    width: 50px;
    right: 0px;
    background: linear-gradient(to left, rgb(255, 255, 255), transparent);
    opacity: 0;
}

.sliderPrevBtn,
.sliderPostBtn {
    height: 120px;
    top: 16px;
    position: absolute;
    color: #ffffff;
    z-index: 99999;
    border: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    font-weight: 900;
}

button:hover {
    cursor: pointer;
}

.sliderItems {
    position: absolute;
}

.sliderListaItems {
    display: inline-flex;
    flex-direction: row;
    position: relative;
    left: 20px;
    width: 1295px;
}

.sliderListaItems li {
    list-style: none;
    position: relative;
}

.sliderItem {
    background: linear-gradient(to top, #ffffff, rgb(0, 0, 0));
    background-color: #ffffff;
    height: 0px;
    width: 205px;
    color: #000000;
    margin-right: 5px;
    position: relative;
    align-items: center;
    align-content: center;
    border-radius: 2%;
}

.sliderItem:hover {
    height: 150px;
    transition-duration: 0.5s;
    scale: 1.03;
}

.link:link,
.link:visited {
    color: black;
}

.link:hover {
    opacity: 0.9;
}

.mydiv {
    align-items: center;
    position: absolute;
    bottom: -10px;
    opacity: 0;
    width: 100%;
}

.ulTitlesItems {
    width: 100%;
    position: relative;
    margin-top: 10px;
    bottom: -7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sliderItem:hover .mydiv {
    position: absolute;
    bottom: -10px;
    opacity: 1;
    transition-delay: 0.2s;
    transition-duration: 0.3s;
}

.media {
    width: 205px;
    height: 120px;
    background-size: cover;
    background-position: center;
    background-color: rgba(240, 248, 255, 0.219);
    border-radius: 1.3%;
    border: transparent;
    filter: brightness(0.8);
    position: relative;
}

.media:hover {
    transition-duration: 1s;
    filter: brightness(1);
}

.logoItem {
    position: absolute;
    left: 1px;
    top: 1px;
    filter: drop-shadow(0px 0px 0.3px black);
    max-width: 25px;
    opacity: 0.8;
    transition-duration: .5s;
}

.logoItem:hover {
    scale: 1.02;
    opacity: 1;
    filter: brightness(2);
    transition-duration: 1s;
}

.sliderBtnPrevImg {
    width: 25px;
    rotate: 180deg;
}

.sliderBtnPostImg {
    width: 25px;
}

.sliderItemIconPlayN {
    width: 12px;
    height: 12px;
    position: relative;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: -4px;
}