.canvasYtSubBtn{
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgb(0, 0, 0);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 999999;
}

.btnX{
    background-color: rgb(231, 231, 231);
    font-family: Bebas Neue;
}

.ulCont{
    margin-left: -20px;
    padding: 150px;
}