button:hover{
  cursor: pointer;
}

.navCont{
  height: 80px;
  width: 100vw;
  position: fixed;
  top: 0px;
  background: linear-gradient(to bottom, #000000cf, rgba(255, 255, 255, 0));
  z-index: 999;
  list-style: none;
  display: flex;
  justify-content: center;
}
.navCont:hover{
  transition-duration: 1s;
  filter: drop-shadow(2px 5px 8px);
}
.navMenu{
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  height: 100%;
  margin-left: -150px;
  font-size: 25px;
}
.navSearchBar{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
  height: 100%;
  position: absolute;
  right: 20px;
  top: 11px;
}

.navCont li{
  display: inline;
  text-align: center;
  color: #dfdfdfbe;
  position: relative;
  margin-right: 30px;
  font-family: Bebas Neue;
  top: 0px;
  filter: drop-shadow(2px 2px 1px black);
}
.navCont li:hover{
  color: #ffffff;
  transition-duration: 1s;
}
.bnv_cont{
  width: 100vw;
  height: 300px;
  color: white;
  font-weight: 100;
  position: absolute;
  top: 30%;
  text-align: center;
}

.slider-container {
  scroll-snap-type: x mandatory;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.bnv_cont h1{
  filter: drop-shadow(2px 2px 2px black);
}
.bnv_ul{
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}
.ruinaLogo{
  top: 15px;
  left: 50px;
  position: absolute;
  opacity: 0.7;
}
.ruinaLogo:hover{
  cursor: pointer;
  opacity: 1;
  transition-duration: 1s;
}
/* -------------Auth-------------- */
.CreateAccountBody{
  width: 100vw;
  height: 100vh;
  overflow-x: 'hidden';
  overflow-y: 'scroll';
  background-color: #000000;
  z-index: 99999;
  position: fixed;
  transform: translateX(100vw);
}
.LogInBody{
  width: 100vw;
  height: 100vh;
  overflow-x: 'hidden';
  overflow-y: 'scroll';
  background-color: #000000;
  z-index: 99999;
  position: fixed;
  transform: translateX(-100vw);
}
.tog{
  position: absolute;
  right: 50px;
  top: 25px;
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-family: 'Bebas Neue';
  font-size: 20px;
  opacity: 0.7;
  border: none;
}
.tog:hover{
  transition-duration: 1s;
  opacity: 1;
}
.formCont{
  width: 50vw;
  height: 500px;
  background-color: #171717c1;
  position: relative;
  left: 25vw;
  top: 100px;
}

/* ---------------VISOR--------------- */
.visor{
  overflow: hidden;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
.visorVideoIntro{
  position: absolute;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  left: 0;
  right: 0;
  top: 0;
  z-index: -1;
  margin-right: 10px;

}
.visorBG{
  min-width: 100%;
  min-height: 100%;
  position: relative;
  left: 0px;
  top: 0px;
  animation-timing-function: ease-in-out;
}
@keyframes aniScale{
  from {transform:scale(1); opacity: 0}
  10% {opacity: 1;}
  80% {opacity: 1;}

  to {transform: scale(1.2); opacity: 0} 
}
.visorBGCanvas{
  height: 100vh;
  width: 100%;
  position: absolute;
  overflow: hidden;
}
.visorCanvas{
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), #000000 97%);
  width: 100%;
  height: 100vh;
  position: relative;
}
.visorPostInfo{
  height: 300px;
  width: 50vw;
  position: absolute;
  bottom: 20vh;
  left: 50px;
  animation-timing-function: ease-in-out;
}

@keyframes infoScale{
  from {opacity: 0;scale:0}
  5% {scale:1}
  15% {opacity:1}
  80% {opacity:1;}
  90% {opacity:0;scale:1}
  to {opacity:0;scale:0} 
}
.visorPostArtista{
  width:fit-content;
  position: relative;
  top: 15px;
  align-content: center;
}
.visorPostArtista p{
  color: #ffffff;
  text-decoration: overline;
  font-size: 18px;
  position: relative;
  opacity: 0.7;
}
.visorPostArtista p:hover{
  opacity: 1;
  cursor: pointer
}
.visorPostTitulo p{
  position: absolute;
  top: 0px;
  font-size: 50px;
  color: #ffffff;
  text-shadow: #000000;
  filter: drop-shadow( 1px 1px 2px #000000);
  height: fit-content;
}
.visorPostTitulo{
  height: 155px;
}
.visorBtn{
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  list-style: none;
  position: relative;
  top: 165px;
  align-items: center;
  left: -40px;
  scale: 0;
}
.button1,.button2{
  height: 50px;
  width: 200px;
  position: relative;
  margin-right: 10px;
  font-family: bebas neue;
  font-size: 20px;
  border: none;
  border-radius: 2%;
}
.button1{
  background: linear-gradient(to bottom, #ffffff, rgba(0, 0, 0, 0.679));
  background-color: #ffffff;
}
.button2{
  background-color: #84848446;
  color: #ffffff;
  font-weight: 100;
}
.button1:hover{
  background: linear-gradient(to bottom, #171717, rgba(0, 0, 0, 0.679));
  background-color: #171717;
  color: #ffffff;
  transition-duration: 0.2s;
}
.button2:hover{
  background-color: #171717;
  transition-duration: 0.5s;
}
.visorIcons{
  width: 500px;
  height: 25px;
  position: relative;
  top: 170px;
  left: -40px;
  list-style: none;
  display: flex;
  flex-direction: row;
  
}
.visorTagIcon{
  max-height: 40px;
  position: relative;
  bottom: 10px;
  opacity: 0.7;
  margin-right: 10px;
  z-index: 9999;
}
.visorTagIcon:hover {
  filter: brightness(2);
  opacity: 1;
  cursor: pointer;
  z-index: 9999;
}
.visorButtonPlay{
  width: 15px;
  margin-right: 10px;
  position: absolute;
  left: 30px;
  top:16px;
}
.visorInfo{
  width: 410px;
  height: 100px;
  position: absolute;
  top: 100px;
  color: #ffffffd4;
  font-family: Product Sans, sans-serif;
  font-size: 13.5px;
}
.visorInfo h3{
  font-weight:100;
}
/* ------------------VIEW----------------- */


.viewMediaTypesCont{
  width: min-content;
  height: 35px;
  position: relative;
  top: 150px;
  left: -45px;
}
.viewMediaTypesList{
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style-type: none;
  position: relative;
  width: 420px;
  height: 50px;
}
.viewLiImg{
  position: relative;
  margin-right: 10px;
}
.viewLiIcon{
  position: relative;
  height: 30px;
  opacity: .7;
}
.viewLiIcon:hover{
  cursor: pointer;
  opacity: 1;
  transition-duration: 1s;
}
.buttonVolver{
  height: 50px;
  width: 200px;
  position: relative;
  margin-right: 10px;
  font-family: bebas neue;
  font-size: 20px;
  border: none;
  border-radius: 2%;
  background-color: #84848446;
  color: #ffffff;
  font-weight: 100;
  left: 45px;
  text-decoration: none;
}
.buttonVolver:hover{
  background-color: #171717;
  transition-duration: 0.5s;
}


/* ----------------FOOTER----------------- */
.ruinaContFooter{
  height: 100vh;
  width: 100%;
  overflow: hidden;
}
