.giftButton {
    position: relative;
    top: 1px;
    width: 12px;
    margin-right: 50px;
    background-color: aqua;
    z-index: 99999999999999999999
}
/* 
.giftButton p{
    align-items: center;
    position: absolute;
    bottom: -10px;
    left: 10px;
    opacity: 0;
} */
/* 
.giftButton:hover p{
    align-items: center;
    position: absolute;
    bottom: -10px;
    left: 10px;
    opacity: 1;
    transition-delay: 0.2s;
    transition-duration: 0.3s;
}  */