.BackButton{
    font-family: Bebas Neue;
    font-size: 20px;
    color: aliceblue;
    background-color: transparent;
    border: none;
    opacity: .8;
}

.backIcon{
    rotate: 180deg;
    margin-right: 5px;
    opacity: .8;
}
.BackButton,.backIcon{
    transition-duration: 1s;
    margin-top: 7px;
}
.BackButton:hover,.backIcon:hover{
    opacity: 1;
}