.profileCont{
    width: 220px;
    height: 60px;
    background-color: transparent;
    float: right;
    margin-top: -5px;
    margin-right: -20px;
    transition-duration: 1s;
    border-radius: 5px;
}
.btnMenuTv{
    margin-left: 5px;
    opacity: .8;
    rotate: 90deg;
    margin-bottom: 2px;
}
.userIcon{
    margin-right: 5px;
    opacity: .8;
    margin-top: 25px;
}
.profileBtnCont{
    text-align: center;
    display: flex;
    flex-direction: column;
    width: auto;
    /* height: 150px; */
    margin-left: 0px;
    font-size: 20px;
    justify-content: left;
    text-align: left;
    justify-items: center;
    align-self: center;
}
.enterBtn{
    font-family: Bebas Neue;
    color: rgba(255, 255, 255, 0.781);
    transition-duration: .5s;
    z-index: 9999999;
    font-size: 20px;
    margin-top: -3px;
}
.profileBtnMenu{
    border: none;
    font-family: Bebas Neue;
    color: rgba(255, 255, 255, 0.781);
    transition-duration: .5s;
    z-index: 9999999;
    justify-content: left;
    text-align: left;
    margin-left: -50px;
}
.profileBtnMenu:hover, .enterBtn:hover{
    cursor: pointer;
    color: white;
}
.optionProfileBtn{
    background: #171717;
    box-shadow: 0px 0px 4px rgb(130, 128, 128);
    margin-top: 15px;
    margin-right: 0px;
    border: solid;
    border-color: #8b8b8b;
    border-width: 1px;
    border-radius: 5px;
    font-size: 12px;
    font-family: Bebas Neue;
    color: rgb(212, 212, 212);
    transition-duration: .5s;
    width: 90px;
    max-height: 75px;
    min-height: 70px;
    transform: translateX(200px);
    scale: 0;
    text-align: center;
}
.ulProfileOptions{
    width: 260px;
    height: 100vh;
    position: fixed;
    margin-top: 50px;
    right: -65px;
}
.optionProfileBtn>img{
    margin-right: 0px;
}
.optionProfileBtn:hover{
    cursor: pointer;
    border-color: white;
    background: linear-gradient(to top, rgb(255, 255, 255), transparent 99%);
    color: #171717;
}
.imgIcon:hover{
    filter: grayscale(0);
}
.imgIcon{
    filter: grayscale(1);
    margin-right: 10px;
    max-width: 25px;
    max-height: 25px;
    margin-top: 10px;
}