.enterBody{
    width: 100vw;
    height: 100vh;
    text-align: center;
    overflow: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p {
    font-weight: thin;
}

.linkHub {
    color: rgb(180, 180, 180);
    font-weight: 900;
    font-family: Bebas Neue;
    font-size: 15px;
}

.linkHub:hover{
    color: white;
}

.welcomeCont{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    color: white;
    font-weight: 100;
    text-align: center;
    overflow-y: auto;
    padding-top: 8rem;
    padding-bottom: 5rem;
}

.welcomeCont h1{
    filter: drop-shadow(0px 0px 4px black);
}
.welcomeUl{
    position: relative;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.button1,.button2{
    height: 50px;
    width: 200px;
    position: relative;
    font-family: bebas neue;
    font-size: 20px;
    border: none;
    border-radius: 2%;
    left: -10px;
}
.button1{
    background: linear-gradient(to bottom, #ffffff, rgba(0, 0, 0, 0.679));
    background-color: #ffffff;
}
.button2{
    background-color: #84848446;
    color: #ffffff;
    font-weight: 100;
}
.button1:hover{
    background: linear-gradient(to bottom, #171717, rgba(0, 0, 0, 0.679));
    background-color: #171717;
    color: #ffffff;
    transition-duration: 0.2s;
}
.button2:hover{
    background-color: #171717;
    transition-duration: 0.5s;
}

.separatorContainer {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}