.createBody,
.mainContainer {
    background: linear-gradient(to bottom, #ffffffcf, rgb(137, 137, 137));
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.createTitle {
    margin-top: 3rem;
}

.divTitleArtistDesc p{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.contTitleArtistDesc {
    width: 50%;
    top: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-color: #171717;
    border-width: 1px;
    border-radius: 15px;
    position: relative;
}

.cont0{
    padding-top: 110px;
    width: 100vw;
    left: 0px;
    margin-top: 0px;
    margin-bottom: 40px;
    z-index: 0;
    overflow-y: auto;
    background: linear-gradient(to bottom, #ffffffcf, rgb(137, 137, 137));
    display: flex;
    flex-direction: column;
    align-items: center;
}

.imgSlrVsr {
    display: flex; 
    width: 50%; 
    justify-content: space-around;
    border-color: #171717;
    border-width: 1px;
    text-align: center;
}
.inputBtn:hover{
    cursor: pointer;
}

textarea {
    resize: none;
}

.btnVolver{
    position: fixed;
    top: 3rem;
    left: 50px;
    width: 180px;
    height: 40px;
    font-family: Bebas Neue;
    font-size: 17px;
    background: linear-gradient(to bottom, #ffffff, rgba(0, 0, 0, 0.679));
    border: none;
    box-shadow: 0px 0px 20px black;
}

.btnContinuar{
    position: fixed;
    bottom: 150px;
    right: 50px;
    width: 180px;
    height: 40px;
    font-family: Bebas Neue;
    font-size: 20px;
    background: linear-gradient(to bottom, #ffffff, rgba(0, 0, 0, 0.679));
    border: none;
    box-shadow: 0px 0px 20px black;
}
.btnContinuar:hover, .btnVolver:hover{
    background: linear-gradient(to bottom, #171717, rgba(0, 0, 0, 0.679));
    background-color: #171717;
    color: #ffffff;
    transition-duration: 0.2s;
}
.tipeMedia{
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    background-color: #ffffff;
    width: 200px;
    margin: 3px;
}

.divisor{
    width: 50vw;
    margin-left: 25vw;
    height: 10px;
    background-color: #171717;
    margin-bottom: 20px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    filter: drop-shadow(0px 0px 10px black)
}