.liSearchBtn{
    background: transparent;
    border: none;
    margin-left: -35px;
}
.liSearchBar{
    background: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    border-color: rgba(255, 255, 255, 0.452);
    height: 25px;
    position: relative;
    top: 8px;
    color: white;
    opacity: 0;
    width: 40px;
    transition-duration: .5s;
}
.liSearchBar:hover, .liSearchBar:active,.liSearchBar:focus {
    border-radius: 5px;
    width: 200px;
    opacity: .9;
    background-color: transparent;
}
.mediaSearch{
    opacity: .8;
    transition-duration: .5;
    top: 14px;
    position: relative;
}
.mediaSearch:hover{
    opacity: 1;
}
