.crearProducto, .crearPost, .editUsers {
  color:aliceblue;
  background-color: rgb(42, 42, 42);
  margin: 10px;
  width: 250px;
  height: 150px;
  border-radius: 5px;
  left: -20px;
  font-family: Bebas Neue;
  font-size: 20px;
  position: relative;
  opacity: .8;
  transition-duration: 1s;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.crearProducto:hover, .crearPost:hover, .editUsers:hover{
  opacity: 1;
  box-shadow: 0px 0px 4px white;
}

.reqContainer {
  display: flex;
  justify-content: center;
}