.playListCont{
    /* background-color: aqua; */
    width: 800px;
    position: fixed;
    bottom: 10px;
}

/* ----------------------------------------------------- */

/* body{
    background-color: black;
    animation: acercar;
    animation-duration: 500ms;
    animation-iteration-count: 50;
    animation-delay: 22s;
}
.music{

   display: none;
}
@keyframes acercar {
    10%{
        transform: scale(0.5);
        background-color: black;
    }
    50%{
        transform: scale(0.7);
      }
    
    100%{
        transform: scale(1.0);
        background-color: white;
    }
}
.contenedor-barra{
    width: 800px;
    height: 250px;
    margin: auto;
    display: flex;
    transform: rotate(180deg);
}

.line1{
	width: 50px;
	height: 300px;
	background-color: black;
	animation: uno .5s infinite ease-out;
}
@keyframes uno{
	50%{
		height: 30px;
	}
	
	100%{
		height: 250px;
	}
	
}

.line2{
	width: 50px;
	height: 300px;
	background-color: white;
	animation: dos .5s infinite ease-out;
	animation-duration: 1s;
	
}
@keyframes dos{
	50%{
		 height: 20px;
	}
	
	100%{
		 height: 300px;
	}
}
.line3{
	width: 50px;
	height: 300px;
	background-color: black;
	animation: tres .5s infinite ease-out;
}
@keyframes tres{
	50%{
		 height: 0px;
	}
	
	100%{
		 height: 180px;
	}
}
.line4{
	width: 50px;
	height: 300px;
	background-color: white;
	animation: cuatro .5s infinite ease-out;
}
@keyframes cuatro{
	50%{
		 height: 90px;
	}
	
	100%{
		 height: 300px;
	}
}
.line5{
	width: 50px;
	height: 300px;
	background-color: black;
	animation: cinco .5s infinite ease-out;
}
@keyframes cinco{
	50%{
		 height: 50px;
	}
	
	100%{
		 height: 200px;
	}
}
.line6{
	width: 50px;
	height: 300px;
	background-color: white;
	animation: seis .5s infinite ease-out;
}
@keyframes seis{
	50%{
		 height: 200px;
	}
	
	100%{
		 height: 250px;
	}
}

.line8{
	width: 50px;
	height: 300px;
	background-color: black;
	animation: ocho .5s infinite ease-out;
}

@keyframes ocho{
	50%{
		 height: 10px;
	}
	
	100%{
		 height: 300px;
	}
}

.line9{
	width: 50px;
	height: 300px;
	background-color: white;
	animation: nueve .5s infinite ease-out;
}

@keyframes nueve{
	50%{
		 height: 60px;
	}
	
	100%{
		 height: 100px;
	}
}

.line10{
	width: 50px;
	height: 300px;
	background-color: black;
	animation: diez .5s infinite ease-out;
}

@keyframes diez{
	50%{
		 height: 15px;
	}
	
	100%{
		 height: 270px;
	}
}

.line11{
	width: 50px;
	height: 300px;
	background-color: white;
	animation: once .5s infinite ease-out;
}

@keyframes once{
	50%{
		 height: 50px;
	}
	
	100%{
		 height: 180px;
	}
}

.line12{
	width: 50px;
	height: 300px;
	background-color: black;
	animation: doce .5s infinite ease-out;
}

@keyframes doce{
	50%{
		 height: 80px;
	}
	
	100%{
		 height: 180px;
	}
}

.line13{
	width: 50px;
	height: 300px;
	background-color: white;
	animation: trece .5s infinite ease-out;
}

@keyframes trece{
	50%{
		 height: 140px;
	}
	
	100%{
		 height: 250px;
	}
}

.line14{
	width: 50px;
	height: 300px;
	background-color: black;
	animation: catorce .5s infinite ease-out;
}

@keyframes catorce{
	50%{
		 height: 110px;
	}
	
	100%{
		 height: 290px;
	}
}

.line15{
	width: 50px;
	height: 300px;
	background-color: white;
	animation: quince .5s infinite ease-out;
}

@keyframes quince{
	50%{
		 height: 250px;
	}
	
	100%{
		 height: 300px;
	}
}

.line16{
	width: 50px;
	height: 300px;
	background-color: black;
	animation: diezyseis .5s infinite ease-out;
}

@keyframes diezyseis{
	50%{
		 height: 100px;
	}
	
	100%{
		 height: 220px;
	}
}

.line17{ 
	width: 50px;
	height: 300px;
	background-color: white;
	animation: diezisiete .5s infinite ease-out;
}

@keyframes diezisiete{
	50%{
		 height: 150px;
	}
	
	100%{
		 height: 250px;
	}
}





.contenedor-avatar{
    width: 100%;
    height: 250px;
    margin-top: 80px
    
}
.cuerpo{
    width: 250px;
    background-color: white;
    height: 250px;
    margin: auto;
    border: 5px solid;
    border-radius: 10px;
}

.ojos{
width: 100%;
    height: 90px;
    display: flex;
}


.content-1{
    width: 90px;
    height: 90px;
    margin-left: 5px
}

.content-2{
    width: 90px;
    height: 90px;
    margin-left: 50px;
}

.content-1:before{
    content: '';
    width: 90px;
    height: 15px;
    background-color: black;
    position: absolute;
    transform: rotate(45deg);
    top: 370px;
}

.content-1:after{
    content: '';
    width: 90px;
    height: 15px;
    background-color: black;
    position: absolute;
    transform: rotate(-45deg);
    top: 370px;
}

.content-2:before{
    content: '';
    width: 90px;
    height: 15px;
    background-color: black;
    position: absolute;
    transform: rotate(45deg);
    top: 370px;
}

.content-2:after{
    content: '';
    width: 90px;
    height: 15px;
    background-color: black;
    position: absolute;
    transform: rotate(-45deg);
    top: 370px;
}

.boca{
    width: 85%;
    margin: auto;
    height: 30px;
    margin-top: 65px;
    background-color: black;
} */