.checkoutFormat {
    margin-top: -80px;
}
@media only screen and (max-width: 768px) {
    .title{
        margin-top: 100px;
    }
    .ulCheck {
        display: flex;
        list-style: none;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 0px;
    }
    .checkoutFormat{
        position: relative;
        height: 100vh;
        width: 100vw;
        bottom: -100px;
        overflow-y: scroll;
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .subCont{
        width: 100vw;
        height: 100vh;
        text-align: center;
    }
    .divCheckCont{
        margin-bottom: 200px;
    }
    .liCheck{
        margin-bottom: -150px;
    }
    .ulCheck{
        margin-left: -40px;
    }
    
}
@media only screen and (min-width: 768px) {
    .checkoutFormat{
        position: relative;
        top: 100px;
        margin-bottom: 100px;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .ulCheck {
        display: flex;
        flex-direction: row;
        list-style: none;
        text-align: center;
        justify-content: center;
    }
    .title{
        margin-left: 40px;
    }
}
.liCheck {
    list-style: none;
    text-align: center;
}
.divCheckCont{
    list-style: none;
    width: 300px;
    height: 400px;
    background-color: rgb(255, 255, 255);
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 15px;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    filter: drop-shadow(0px 0px 3px black);
}

.divCheckCont>h2{
    margin-top: 15px;
    position: absolute;
}

.divDescription{
    width: 250px;
    height: 300px;
    margin-top: 100px;
    left: 10px;
    position: absolute;
    text-align: start;
    font-family: Product Sans, sans-serif;
    font-weight: thin;
    list-style: none;
}
.btnSubmitEnabled{
    height: 40px;
    width: 200px;
    bottom: 30px;
    position: absolute;
    border: none;
    border-radius: 70px;
    background-color: #171717;
    filter: drop-shadow(0px 0px 4px black);
    color: aliceblue;
    font-family: Bebas Neue;
    font-size: 20px;
    transition-duration: .3s;
}
.btnSubmitFree, .btnSubmitDisabled{
    height: 40px;
    width: 200px;
    bottom: 30px;
    position: absolute;
    border: none;
    border-radius: 70px;
    color: aliceblue;
    font-family: Bebas Neue;
    font-size: 20px;
    background-color: #bababa;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnSubmitFree, .btnSubmitDisabled:hover{
    cursor: not-allowed;
}
.btnSubmitEnabled:hover{
    background-color: aliceblue;
    color: #171717;
}
.divPrice{
    width: 250px;
    height: 40px;
    /* background-color: blueviolet; */
    position: absolute;
    margin-top: 50px;
}