.profileCont{
  width: 200px;
  height: 65px;
  background-color: transparent;
  margin-top: -5px;
  margin-right: 0px;
  transition-duration: 1s;
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  right: 30px;
}
.btnMenuTv{
  margin-left: 5px;
  opacity: .8;
  rotate: 90deg;
  margin-bottom: 2px;
}
.userIcon{
  position: relative;
  top: 8px;
  margin-right: 5px;
  margin-top: 15px;
  opacity: .8;
  border-radius: 100%;
  border: solid;
  border-width: 2px;
  filter: drop-shadow(0px 0px 4px black)
}
.userIconEnter{
  margin-right: 5px;
  opacity: .8;
  border-radius: 100%;
  border: solid;
  border-width: 2px;
  filter: drop-shadow(0px 0px 4px black);
  z-index: -1;
  margin-top: -2px;
}
.profileBtnCont{
  text-align: center;
  display: flex;
  flex-direction: row;
  width: auto;
  margin-left: 0px;
  font-size: 20px;
  justify-content: center;
  text-align: center;
  justify-items: center;
  align-items: center;
  align-self: center;
}
.enterBtn{
  font-family: Bebas Neue;
  color: rgba(255, 255, 255, 0.781);
  transition-duration: .5s;
  z-index: 9999999;
  font-size: 20px;
  height: 50px;
  display: flex;
  align-items: center;
}
.imgIconProf{
  border-radius: 100%;
  border: solid;
  border-width: 2px;
  filter: grayscale(1);
  margin-right: 10px;
  max-width: 25px;
  max-height: 25px;
  margin-top: 10px;
}
.profileBtnMenu {
  border: none;
  font-family: Bebas Neue;
  color: rgba(255, 255, 255, 0.781);
  transition-duration: .5s;
  z-index: 999999999999999999999999999;
  justify-content: center;
  text-align: center;
  margin-left: 0px;
  width: 200px;
  margin-bottom: 30px;
}
.profileBtnMenu:hover, .enterBtn:hover{
  cursor: pointer;
  color: white;
}

.optionProfileBtn{
  background: linear-gradient(to top, #171717, #171717 99%);
  box-shadow: 0px 0px 4px rgb(130, 128, 128);
  margin-top: 10px;
  margin-right: -15px;
  border: solid;
  border-color: #8b8b8b;
  border-width: 1px;
  border-radius: 5px;
  font-size: 12px;
  font-family: Bebas Neue;
  color: rgb(212, 212, 212);
  transition-duration: .5s;
  width: 80px;
  max-height: 70px;
  min-height: 65px;
  transform: translateX(200px);
  scale: 0;
  text-align: center;
}
.ulProfileOptions{
  width: 260px;
  height: 0;
  position: fixed;
  margin-top: 50px;
  right: -8px;
  z-index: 999999999999999999999999999;
}
.optionProfileBtn>img{
  margin-right: 0px;
}
.optionProfileBtn:hover{
  cursor: pointer;
  border-color: white;
  background: linear-gradient(to top, rgb(255, 255, 255), #171717 99%);
  color: #171717;
}
.imgIcon:hover, .imgIconProf:hover{
  filter: grayscale(0);
}
.imgIcon{
  filter: grayscale(1);
  margin-right: 10px;
  max-width: 25px;
  max-height: 25px;
  margin-top: 10px;
}
.ulSalirBtn{
  position: fixed;
  top: 300px;
}
.optionSalirBtn{
  position: fixed;
  top: 300px;
}