.adminBtn{
    background-color: #b9b9b9c9;
    width: 25px;
    height: 25px;
    border: 5px;
    position: relative;
    margin-top: 0px;
    scale: .9;
    margin-right: 3px;
    opacity: .8;
    transition-duration: .4s;
    border-radius: 5px;
}



.adminRequest{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    flex-direction: column;
    margin-top: -120px;
    border-radius: 5px;
}

.editImg{
    margin-top: 3px;
    border-radius: 5px;
}
.deleteImg{
    margin-top: 5px;
    border-radius: 5px;
}

.adminBtn:hover{
    opacity: 1;
    scale: 1.02;
    cursor: pointer;
}