.searchCont {
    width: 100vw;
    height: 100vh;
    min-height: 100vh;
    background: linear-gradient(to bottom, #ffffffcf, rgb(137, 137, 137));
    margin: 0px;
    overflow: auto;
    top: 0px;
    left: 0px;
    text-align: center;
}

.searchFormat {
    margin-top: 100px
}

.navFixed {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 80px;
    background-color: #171717;
    z-index: 9999999;
}

.notFound{
    width: 100%;
    position: relative;
    left: -20px;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

