.searchCont {
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #ffffffcf, rgb(137, 137, 137));
    margin: 0px;
    position: fixed;
    top: 0px;
    left: 0px
}

.searchFormat {
    margin-top: 100px
}

.navFixed {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 80px;
    background-color: #171717;
}

.ulSearchedItem{
    width: 100vw;
    height: 100vh; 
    background-color: blue;
}