#googleButton{
  border: none;
  border-radius: 5px;
  background-color: rgb(255, 255, 255);
  width: 260px;
  font-size: 13px;
  color: black;
  text-shadow: 0px 0px 1px rgba(50, 50, 50, 0.752);
  font-weight: bolder;
  font-family: 'Poppins', sans-serif;
}
.playListCont{
  width: 800px;
  position: fixed;
  bottom: 1px;
  z-index: 99999999999;
}
.userPlayerCont{
  width: 100vw;
  position: fixed;
  bottom: 1px;
  z-index: 99999999999;
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: #000000;
}

.navFixed {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 80px;
  background-color: #171717;
  z-index: 98;
}


.dashControlCont{
  margin-top: 80px;
}

.CreateBody{
  margin-top: 80px;
  text-align: center;
}

button:hover{
  cursor: pointer;
}

.navCont{
  height: 80px;
  width: 100vw;
  position: fixed;
  top: 0px;
  background: linear-gradient(to bottom, #000000cf, rgba(255, 255, 255, 0));
  z-index: 99999999999;
  list-style: none;
  display: flex;
  justify-content: center;
}

.navCont:hover{
  transition-duration: 1s;
  filter: drop-shadow(2px 5px 8px);
}
.navMenu{
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style-type: none;
  height: 100%;
  margin-left: -150px;
  font-size: 25px;
}
.navSearchBar{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  list-style-type: none;
  height: 100%;
  position: absolute;
  right: 20px;
  top: 11px;
}

.navCont li{
  display: inline;
  text-align: center;
  color: #dfdfdfbe;
  position: relative;
  margin-right: 30px;
  font-family: Bebas Neue;
  top: 0px;
  filter: drop-shadow(2px 2px 1px black);
}
.navCont li:hover{
  color: #ffffff;
  transition-duration: 1s;
}
.bnv_cont{
  width: 100vw;
  height: 300px;
  color: white;
  font-weight: 100;
  position: absolute;
  top: 30%;
  text-align: center;
}

.slider-container {
  scroll-snap-type: x mandatory;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.bnv_cont h1{
  filter: drop-shadow(2px 2px 2px black);
}
.bnv_ul{
  position: relative;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
}
.ruinaLogo{
  top: 15px;
  left: 50px;
  position: absolute;
  opacity: 0.7;
}
.ruinaLogo:hover{
  cursor: pointer;
  opacity: 1;
  transition-duration: 1s;
}
/* -------------Auth-------------- */
.CreateAccountBody{
  width: 100vw;
  height: 100vh;
  overflow-x: 'hidden';
  overflow-y: 'scroll';
  background: linear-gradient(168deg, rgb(0, 0, 0) 20% , #171717 120%);
  z-index: 99999;
  position: fixed;
  transform: translateY(100vh);
  left: 0px;
  top: 0px;
}
.LogInBody{
  width: 100vw;
  height: 100vh;
  overflow-x: 'hidden';
  overflow-y: 'hidden';
  background: linear-gradient(168deg, rgb(0, 0, 0) 20% , #171717 120%);
  z-index: 99999;
  position: fixed;
  transform: translateY(-100vh);
  left: 0px;
  top: 0px;
}
.divProfile{
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  list-style: none;
  background: linear-gradient(to bottom, #ffffffcf, rgb(137, 137, 137));
  left: 0px;
  bottom: 0px;
  position: fixed;
}
/* --------------------------paylist----------------- */

.bodyplay{
  background-color: gray;
  animation: acercar;
  animation-duration: 500ms;
  animation-iteration-count: 50;
  animation-delay: 24s;
  width: 1000px;
  height: 350px;
}
.music{

 display: none;
}
@keyframes acercar {
  10%{
      transform: scale(0.5);
      background-color: black;
  }
  50%{
      transform: scale(0.7);
    }
  
  100%{
      transform: scale(1.0);
      background-color: white;
  }
}
.contenedor-barra{
  width: 800px;
  height: 250px;
  margin: auto;
  display: flex;
  transform: rotate(180deg);
}
.contenedor-avatar{
  width: 100%;
  height: 250px;
  margin-top: 5px
  
}
.cuerpo{
  width: 80px;
  background-color: white;
  height: 80px;
  margin: auto;
  border: 5px solid;
  border-radius: 10px;
}

.ojos{
  width: 100%;
  height: 90px;
  display: flex;
}


.content-1{
  width: 100px;
  height: 90px;
  margin-left: 5px
}

.content-2{
  width: 90px;
  height: 90px;
  margin-left: 50px;
}

.content-1:before{
  content: '';
  width: 35px;
  height: 5px;
  background-color: black;
  position: absolute;
  transform: rotate(45deg);
  top: 440px;
  left: 605px;
}

.content-1:after{
  content: '';
  width: 35px;
  height: 5px;
  background-color: black;
  position: absolute;
  transform: rotate(-45deg);
  top: 440px;
  left: 605px;
}

.content-2:before{
  content: '';
  width: 35px;
  height: 5px;
  background-color: black;
  position: absolute;
  transform: rotate(45deg);
  top: 440px;
  left: 640px;
}

.content-2:after{
  content: '';
  width: 35px;
  height: 5px;
  background-color: black;
  position: absolute;
  transform: rotate(-45deg);
  top: 440px;
  left: 640px;
}

.boca{
  width: 70%;
  margin: auto;
  height: 10px;
  margin-top: -30px;
  background-color: black;
}

/* --------------------------paylist----------------- */

.tog{
  position: absolute;
  right: 50px;
  top: 25px;
  background-color: transparent;
  color: rgb(255, 255, 255);
  font-family: 'Bebas Neue';
  font-size: 20px;
  opacity: 0.7;
  border: none;
}
.tog:hover{
  transition-duration: 1s;
  opacity: 1;
}
.formCont{
  width: 50vw;
  height: 500px;
  background-color: #171717c1;
  position: relative;
  left: 25vw;
  top: 60px;
  border-radius: 15px;
}

/* ---------------VISOR--------------- */
.visor{
  overflow: hidden;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
.visorVideoIntro{
  position: absolute;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  left: 0;
  right: 0;
  top: 0;
  z-index: 0;
  margin-right: 10px;
}
.visorBG{
  min-width: 100%;
  min-height: 100%;
  position: relative;
  left: 0px;
  top: 0px;
  animation-timing-function: ease-in-out;
}
@keyframes aniScale{
  from {transform:scale(1); opacity: 0}
  10% {opacity: 1;}
  80% {opacity: 1;}

  to {transform: scale(1.2); opacity: 0} 
}
.visorBGCanvas{
  height: 100vh;
  width: 100%;
  position: absolute;
  overflow: hidden;
}
.visorCanvas{
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), #000000 97%);
  width: 100%;
  height: 100vh;
  position: relative;
}
.visorPostInfo{
  height: 300px;
  width: 50vw;
  position: absolute;
  bottom: 20vh;
  left: 50px;
  animation-timing-function: ease-in-out;
}

@keyframes infoScale{
  from {opacity: 0;scale:0}
  5% {scale:1}
  15% {opacity:1}
  80% {opacity:1;}
  90% {opacity:0;scale:1}
  to {opacity:0;scale:0} 
}
.visorPostArtista{
  width:fit-content;
  position: relative;
  top: 15px;
  align-content: center;
}
.visorPostArtista p{
  color: #ffffff;
  text-decoration: overline;
  font-size: 18px;
  position: relative;
  opacity: 0.7;
}
.visorPostArtista p:hover{
  opacity: 1;
  cursor: pointer
}
.visorPostTitulo p{
  position: absolute;
  top: 0px;
  font-size: 50px;
  color: #ffffff;
  text-shadow: #000000;
  filter: drop-shadow( 1px 1px 2px #000000);
  height: fit-content;
}
.visorPostTitulo{
  height: 155px;
}
.visorBtn{
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  list-style: none;
  position: relative;
  top: 165px;
  align-items: center;
  left: -40px;
  scale: 0;
}
.button1,.button2,.buttonVer{
  height: 50px;
  width: 200px;
  position: relative;
  margin-right: 10px;
  font-family: bebas neue;
  font-size: 20px;
  border: none;
  border-radius: 2%;
}
.button1,.buttonVer{
  background: linear-gradient(to bottom, #ffffff, rgba(0, 0, 0, 0.679));
  background-color: #ffffff;
}
.buttonVer{
  left: 50px;
}
.button2{
  background-color: #84848446;
  color: #ffffff;
  font-weight: 100;
}
.button1:hover,.buttonVer:hover{
  background: linear-gradient(to bottom, #171717, rgba(0, 0, 0, 0.679));
  background-color: #171717;
  color: #ffffff;
  transition-duration: 0.2s;
}
.button2:hover{
  background-color: #171717;
  transition-duration: 0.5s;
}
.visorIcons{
  width: 500px;
  height: 25px;
  position: relative;
  top: 170px;
  left: -40px;
  list-style: none;
  display: flex;
  flex-direction: row;
  
}
.visorTagIcon{
  max-height: 40px;
  position: relative;
  bottom: 10px;
  opacity: 0.7;
  margin-right: 10px;
  z-index: 9999;
}
.visorTagIcon:hover {
  filter: brightness(2);
  opacity: 1;
  cursor: pointer;
  z-index: 9999;
}
.visorButtonPlay{
  width: 15px;
  margin-right: 10px;
  position: absolute;
  left: 30px;
  top:16px;
}

.visorInfo{
  width: 410px;
  height: 100px;
  position: absolute;
  top: 100px;
  color: #ffffffd4;
  font-family: Product Sans, sans-serif;
  font-size: 13.5px;
}

.visorInfo h3{
  font-weight:100;
}
/* ------------------VIEW----------------- */

.viewMediaTypesCont{
  width: min-content;
  height: 35px;
  position: relative;
  top: 150px;
  left: -45px;
}

.viewMediaTypesList{
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style-type: none;
  position: relative;
  width: 420px;
  height: 50px;
}

.viewLiImg{
  position: relative;
  margin-right: 10px;
}

.viewLiIcon{
  position: relative;
  height: 30px;
  opacity: .7;
}

.viewLiIcon:hover{
  cursor: pointer;
  opacity: 1;
  transition-duration: 1s;
}

.buttonVolver{
  height: 50px;
  width: 200px;
  position: relative;
  margin-right: 10px;
  font-family: bebas neue;
  font-size: 20px;
  border: none;
  border-radius: 2%;
  background-color: #84848446;
  color: #ffffff;
  font-weight: 100;
  left: 45px;
  text-decoration: none;
}

.buttonAddToFavorites{
  font-family: bebas neue;
  background-color: #84848446;
  color: #ffffff;
  width: 40px;
  height: 40px;
  position: relative;
  margin-right: -35px;
  left: 8px;
  border: none;
  border-radius: 2%;
  font-size: 10px;
  filter: grayscale(1);
  transition-duration: .8s;
}

.buttonAddToPlaylist{
  font-family: bebas neue;
  background-color: #84848446;
  color: #ffffff;
  width: 40px;
  height: 40px;
  position: relative;
  margin-right: 1px;
  left: 8px;
  border: none;
  border-radius: 2%;
  font-size: 30px;
}

.buttonCreateNewPlaylist, .buttonAddItem{
  font-family: bebas neue;
  color: #ffffff;
  width: 100%;
  height: 40px;
  position: relative;
  left: -40px;
  border: none;
  border-radius: 2%;
  font-size: 13px;
  font-weight: thin;
}

.buttonAddItem{
  margin-bottom: 0px;
  margin-left: 40px;
  background-color: #353535fd;

}

.buttonCreateNewPlaylist{
  margin-bottom: 0px;
  background-color: #292929fd;
}

.divCanvasAddListForm{
  width: 80vw;
  height: 300px;
  top: 10vh;
  left: 10vw;
  border-radius: 15px;
  box-shadow: 0px 0px 10px black;
  position: fixed;
  background: linear-gradient(168deg, rgb(0, 0, 0) 20% , #171717 120%);
  z-index: 99999999999999999;
  color: white;
  text-align: center;
  display: none;
}

.ulButtonAddItem{
  position: relative;
  left: 48px;
  width: 240px;
  opacity: 0;
  display: none;
  border-radius: 0px;
}

.divButtonAddItem{
  /* overflow-y: scroll; */
  position: relative;
  left: -40px;
  width: 240px;
  max-height: 120px;
}

.buttonVolver:hover,
.buttonAddToPlaylist:hover, 
.buttonAddToFavorites:hover, 
.buttonCreateNewPlaylist:hover, 
.buttonAddItem:hover{
  background-color: #171717;
  transition-duration: 0.5s;
  filter: grayscale(.1);

}

.viewMediaTypesCont{
  width: min-content;
  height: 35px;
  position: relative;
  top: 150px;
  left: -45px;
}

.viewMediaTypesList{
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style-type: none;
  position: relative;
  width: 420px;
  height: 50px;
}

.viewLiImg{
  position: relative;
  margin-right: 10px;
}

.viewLiIcon{
  position: relative;
  height: 30px;
  opacity: .7;
}

.viewLiIcon:hover{
  cursor: pointer;
  opacity: 1;
  transition-duration: 1s;
}

.buttonVolver {
  height: 50px;
  width: 200px;
  position: relative;
  margin-right: 10px;
  font-family: bebas neue;
  font-size: 20px;
  border: none;
  border-radius: 2%;
  background-color: #84848446;
  color: #ffffff;
  font-weight: 100;
  left: 45px;
  text-decoration: none;
}

.buttonVolver:hover, .buttonAddToPlaylist:hover, .buttonAddToFavorites:hover{
  background-color: #171717;
  transition-duration: 0.5s;
}

/* ------------------PLAY----------------- */
.playerCont{
  width: 50vw;
  height: 100vh;
  position: fixed;
  right: 0px;
  z-index: 9999;
  top: 0;
  transition-duration: 1s;
  filter: drop-shadow(0px 0px 20px black);
  background: linear-gradient(to right, #00000000, rgba(0, 0, 0, 0.579));
  z-index: 0;
  opacity: 0;
}

.playerLi{
  width: 640px;
  height: 360px;
  background-color: #171717;
  position: relative;
  margin-top: 100px;
  right: 65px;
  scale: 0;
  transition-duration: 1s;
  list-style: none;
}

#ytplayer{
  display: none;
}
.playUl{
  list-style: none;
  scale: 0;
  position: absolute;
  justify-content: end;
}
/* ----------------FOOTER----------------- */
.ruinaContFooter{
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

/* ----------------DONATE----------------- */

.donateBtn{
  width: 100vw;
  margin-top: 400px;
  background-color: #171717;
  text-align: center;
  font-size: 50px;
}

/* ----------------TIENDA----------------- */
