@font-face {
  font-family: Bebas Neue;
  src: url('./fonts/BebasNeue.otf');
}
ul, li{
  list-style: none;
}
body {
  margin: 0;
  font-family: Bebas Neue;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
  background: linear-gradient(168deg, rgb(0, 0, 0) 20% , #171717 120%);
  background-attachment: scroll;
  background-repeat: no-repeat;
  list-style: none;
}

.bodyApp{
  position: absolute;
  width: 100vw;
  min-height: 100vh;
  list-style: none;
  background: linear-gradient(168deg, rgb(0, 0, 0) 20% , #171717 120%);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:link, :visited{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.774);
}
:link:hover{
  color: white;
}
::-webkit-scrollbar {
  width: 10px;
  height: 100%;
  position: absolute;
}
::-webkit-scrollbar-track {
  background: linear-gradient(168deg, rgb(0, 0, 0) 20% , #171717 120%);
}
::-webkit-scrollbar-thumb {
  background: #fff2;
  border-radius: 1px;
}
::-webkit-scrollbar-thumb:hover {
  background: #fff4;
}
