.tiendaCont{
    width: 100vw;
    position: relative;
    top: 0px;
    font-size: larger;
    text-align: center;
    justify-content: center;
    font-weight: lighter;
    color: rgb(255, 255, 255);

}
.tiendaBg{
    width: 100vw;
    min-height: 100vh;
    margin-top: 80px;
    background-attachment: scroll;
}

.productImg{
    width: 200px;
    border-radius: 5px;
    margin-left: 10px;
}

.ulProducts{
    color: rgb(255, 255, 255);
    position: relative;
    display: flex;
    list-style: none;
    width: 100vw;
    height: 100vh;
    text-align: center;
    justify-content: center;
    left: -40px;

}
.ulTitle{
    margin-left: -40px;
    margin-top: 200px;
}
.cardProduct{
    color: rgb(255, 255, 255);

}