.tiendaCont{
    width: 100vw;
    height: auto;
    position: relative;
    top: 0px;
    font-size: larger;
    text-align: center;
    justify-content: center;
    font-weight: lighter;
}

.productImg{
    width: 200px;
    border-radius: 5px;
    margin-left: 10px;
}

.ulProducts{
    color: black;
    position: absolute;
    display: flex;
    list-style: none;
    width: 100vw;
    height: 100vh;
    text-align: center;
    justify-content: center;
    left: -40px;
    top: 80px;
    background-color: rgb(255, 255, 255);

}
.cardProduct{
    color: black;

}