.tiendaCont{
    width: 100vw;
    height: 380px;
    position: relative;
    font-size: larger;
    text-align: center;
    justify-content: center;
    font-weight: lighter;
    color: rgb(0, 0, 0);
    background-repeat: no-repeat;
    background-attachment: scroll;
    z-index: 1;
}

.tiendaSlider{
    width: 100vw;
    position: absolute;
}
.tiendaSliderCont{
    position: relative;
    width: 100vw;
    margin-left: 2px;
    height: 379px;
    background-image: url(../../../design/banner-tienda.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: scroll;
}

.tiendaBg{
    width: 100vw;
    z-index: 1;
    position: relative;
    top: 0px;
}
.tiendaMerch {
    font-size: 65px;
    font-weight: bold;
}

.tiendaTituloSlider{
    font-size: 40px;
    color: aliceblue;
}

.productImg{
    width: 200px;
    border-radius: 5px;
    margin-left: 10px;
    transition-duration: 1s;
    filter: drop-shadow(10px -10px 10px rgba(0, 0, 0, 0.327));
}

.productImg:hover{
    scale: 1.02;
}

.ulProducts{
    color: rgb(0, 0, 0);
    position: relative;
    display: flex;
    list-style: none;
    width: 100vw;
    text-align: center;
    justify-content: center;
    left: -40px;
    /* background-color: aqua */
}


.ulTitle{
    margin-left: -40px;
}
.cardProduct{
    color: rgb(0, 0, 0);
}