.tiendaCont{
    width: 100vw;
    height: auto;
    position: absolute;
    top: 0px;
    font-size: larger;
    text-align: center;
    justify-content: center;
    font-weight: lighter;
    color: rgb(0, 0, 0);
    background: linear-gradient(to bottom, #ffffffcf, rgb(0, 0, 0));
    background-repeat: no-repeat;
    background-attachment: scroll;
    top: 70px;
    z-index: 1;
}

.tiendaSlider{
    width: 100vw;
    height: 380px;
    z-index: 1;
}
.tiendaSliderCont{
    position: relative;
    margin-top: 0px;
    width: 100vw;
    height: 380px;
    background-image: url(../../../design/banner-tienda.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    z-index: 1;
}

.tiendaBg{
    width: 100vw;
    z-index: 1;
}
.tiendaMerch {
    font-size: 65px;
}

.tiendaTituloSlider{
    font-size: 40px;
    color: aliceblue;
}

.productImg{
    width: 200px;
    border-radius: 5px;
    margin-left: 10px;
    transition-duration: 1s;
    filter: drop-shadow(10px -10px 10px rgba(0, 0, 0, 0.327));
    margin-top: 15px;
}

.productImg:hover{
    scale: 1.02;
}

.ulProducts{
    color: rgb(0, 0, 0);
    position: relative;
    display: flex;
    list-style: none;
    width: 100vw;
    height: 100vh;
    text-align: center;
    justify-content: center;
    left: -40px;
}


.ulTitle{
    margin-left: -40px;
}
.cardProduct{
    color: rgb(0, 0, 0);

}